*,
html{
    margin: 0;
    padding: 0;
}
.container-navbar {
    height: 10vh;
    background-color: rgb(96, 230, 230);
    width: 100%;
}

.ul-navbar {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    color: black;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(15, 141, 141);
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}
.a-navbar {
    color: black;
    text-decoration: none;
}

.container-contant {
    background-color: rgb(177, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-contant {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 25px;
    width: 450px;
    height: 350px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 7px 15px 9px #000000;
}
.img-contant {
    width: 40%;
    height: 40%;
}

.container-footer {
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
}